<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Govtrack</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/style.css')}}">
</head>
<body>
    <nav class="navbar">
        <a href="/" class="brand">🗺️ GovTrack</a>
        <div class="nav-link">
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/anomalies">Anomalies</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/estimator">Cost Estimator</a>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>